item-list-page {

  ion-row {
    text-align: center;
    font-size: small;
  }

  ion-col {
    height: 125px;
    text-align: center;
  }

  img {
    height: 100px;
    width: 100px;
    opacity: .9;
    border-color: color($colors,secondary);
    border-style: solid;
    border-width: thick;
  }

  ion-list {
    width: 100%;
  }

  ion-label {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .label-ios {
    margin: 0px 0px 5px 0px;
  }

  ion-col .card-title {
    top:40%;
    position: absolute;
    font-size: 1.0em;
    width: 80%;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    margin-left: 5px;
  }
}
