item-page {

  img {
    height: 100px;
    width: 100px;
  }

  .mini-img {
    height: 35px;
    width: 35px;
    padding: 2px 2px 2px 2px;
  }

  .center-row {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  ion-list {
    width: 100%;
  }

  ion-label,  .label-ios, .label-md {
    margin: 0px 0px 5px 0px;
  }

  .wrap-text-lol {
    white-space:pre-line;
  }

  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}
