<ion-header>
  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="item-page">

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img src="{{ itemsProvider.itemImageUrl + item.image.full}}"/>
      </ion-col>
      <ion-col *ngIf="item.gold"  col-8>
        <ion-label text-wrap>{{ item.plaintext}}</ion-label>
        <ion-label>Cost: {{ item.gold.base}}</ion-label>
        <ion-label>Total Cost: {{ item.gold.total}}</ion-label>
        <ion-label>Sell: {{ item.gold.sell}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-wrap>
        <ion-label>Descrpition:</ion-label>
        <pre>{{ replaceTags(item.description) }}</pre>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="item.into">
      Builds Into:
    </ion-row>
    <ion-row *ngIf="item.into">
      <img *ngFor="let itm of item.into" class="mini-img" src="{{ itemsProvider.itemImageUrl + items[itm].image.full}}" (click)="openItemPage(items[itm])"/>
    </ion-row>
    <ion-row *ngIf="item.from">
      Builds From:
    </ion-row>
    <ion-row *ngIf="item.from">
      <img class="mini-img center-row" src="{{ itemsProvider.itemImageUrl + item.image.full}}"/>
    </ion-row>
    <ion-row *ngIf="item.from">
      <ion-col *ngFor="let frmItem of item.from" >
        <img class="mini-img center-row" src="{{ itemsProvider.itemImageUrl + items[frmItem].image.full}}" (click)="openItemPage(items[frmItem])"/>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
