<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button secondary (click)="showChampions()">Get Champions</button>
  <button ion-button secondary (click)="showItems()">Get Items</button>

  <div *ngIf="champions">
    <ion-grid *ngFor="let champ of champions | jsontoarray; index as i;">
      <ion-row *ngIf="(i + 1) % 3 == 0">
        <ion-col>
          {{i + 1}}
          <img src="{{ championProvider.championImageUrl + champions[champ].image.full}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
