<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Champions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="champions">
      <div *ngFor="let champ of championKeys | jsontoarray; index as i;">
      <ion-row *ngIf="(i + 1) % 3 == 0">
        <ion-col *ngIf="champions[championKeys[i]]" (click)="openChampionPage(champions[championKeys[i]])">
            <img src="{{ championProvider.championImageUrl + champions[championKeys[i]].image.full}}"/>
            <div class="card-title">{{champions[championKeys[i]].name}}</div>
        </ion-col>
        <ion-col *ngIf="champions[championKeys[i + 1]]" (click)="openChampionPage(champions[championKeys[i + 1]])">
            <img src="{{ championProvider.championImageUrl + champions[championKeys[i + 1]].image.full}}"/>
            <div class="card-title">{{champions[championKeys[i + 1]].name}}</div>
        </ion-col>
        <ion-col *ngIf="champions[championKeys[i + 2]]" (click)="openChampionPage(champions[championKeys[i + 2]])">
          <img src="{{ championProvider.championImageUrl + champions[championKeys[i + 2]].image.full}}"/>
          <div class="card-title">{{champions[championKeys[i + 2]].name}}</div>
        </ion-col>
      </ion-row>
      </div>
    </ion-grid>

</ion-content>
