<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="champions">
    <ion-grid>
      <ion-row *ngFor="let champ of championKeys | jsontoarray; index as i;">
        <ion-col *ngIf="(i + 1) % 3 == 0">
          <img src="{{ championProvider.championImageUrl + champions[championKeys[i]].image.full}}"/>
          <img src="{{ championProvider.championImageUrl + champions[championKeys[i +1]].image.full}}"/>
          <img src="{{ championProvider.championImageUrl + champions[championKeys[i +2]].image.full}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
