page-home {


  ion-row {
    text-align: center;
  }

  ion-col {
    text-align: center;
    padding: 0px 1px 0px 1px !important;
  }

  img {
    height: 125px;
    width: 125px;
    border-color: color($colors,secondary);
    border-style: solid;
    border-width: thick;
  }

  ion-card {
    width: 33%;
  }

  .pic-div {
    float: left;
    padding-right: 10px;
    height: 100px;
    width: 100px;
  }

  ion-col .card-title {
    top:65%;
    position: absolute;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
}
